In [17]:
import pandas as pd
items = pd.read_csv('items_enriched.csv')

In [18]:
items.head(10)

,id,title,day,month,year,IMDB_url,unknown,Action,Adventure,Animation,...,OMDb_Rated,OMDb_Runtime,OMDb_Plot,OMDb_Ratings,OMDb_BoxOffice,OMDb_Metascore,OMDb_imdbVotes,OMDb_Released,OMDb_Poster,OMDb_Rating
0,1,Toy Story,1,1,1995,http://us.imdb.com/M/title/exact?Toy%20Story%2...,0,0,0,1,...,G,81 min,A cowboy doll is profoundly threatened and jea...,"[{'Source': 'Internet Movie Database', 'Value'...","$223,225,679",96.0,"1,102,860",22 Nov 1995,https://m.media-amazon.com/images/M/MV5BZTA3OW...,8.3
1,2,GoldenEye,1,1,1995,http://us.imdb.com/M/title/exact?GoldenEye%20(...,0,1,1,0,...,PG-13,130 min,When a powerful secret defense system is stole...,"[{'Source': 'Internet Movie Database', 'Value'...","$106,429,941",65.0,"275,174",17 Nov 1995,https://m.media-amazon.com/images/M/MV5BOGQxNm...,7.2
2,3,Four Rooms,1,1,1995,http://us.imdb.com/M/title/exact?Four%20Rooms%...,0,0,0,0,...,R,98 min,Four interlocking tales that take place in a f...,"[{'Source': 'Internet Movie Database', 'Value'...","$4,257,354",NaN,"112,683",25 Dec 1995,https://m.media-amazon.com/images/M/MV5BMmNlMj...,6.7
3,4,Get Shorty,1,1,1995,http://us.imdb.com/M/title/exact?Get%20Shorty%...,0,1,0,0,...,R,105 min,A mobster travels to Hollywood to collect a de...,"[{'Source': 'Internet Movie Database', 'Value'...","$72,101,622",81.0,"91,605",20 Oct 1995,https://m.media-amazon.com/images/M/MV5BMjAwOD...,6.9
4,5,Copycat,1,1,1995,http://us.imdb.com/M/title/exact?Copycat%20(1995),0,0,0,0,...,R,123 min,A criminal psychologist who turned agoraphobic...,"[{'Source': 'Internet Movie Database', 'Value'...","$32,051,917",54.0,"68,112",27 Oct 1995,https://m.media-amazon.com/images/M/MV5BY2ZiOD...,6.6
5,6,Shanghai Triad,1,1,1995,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,...,R,108 min,A provincial boy related to a Shanghai crime f...,"[{'Source': 'Internet Movie Database', 'Value'...","$2,086,101",77.0,"6,117",22 Dec 1995,https://m.media-amazon.com/images/M/MV5BMjExNz...,7.1
6,7,Twelve Monkeys,1,1,1995,http://us.imdb.com/M/title/exact?Twelve%20Monk...,0,0,0,0,...,NaN,88 min,A documentary following Terry Gilliam through ...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,NaN,996,01 Nov 1996,https://m.media-amazon.com/images/M/MV5BZTAxNz...,7.6
7,8,Babe,1,1,1995,http://us.imdb.com/M/title/exact?Babe%20(1995),0,0,0,0,...,G,91 min,Gentle farmer Arthur Hoggett wins a piglet Bab...,"[{'Source': 'Internet Movie Database', 'Value'...","$63,658,910",83.0,"137,298",04 Aug 1995,https://m.media-amazon.com/images/M/MV5BODYxZW...,6.9
8,9,Dead Man Walking,1,1,1995,http://us.imdb.com/M/title/exact?Dead%20Man%20...,0,0,0,0,...,R,122 min,"A nun, while comforting a convicted killer on ...","[{'Source': 'Internet Movie Database', 'Value'...","$39,363,635",80.0,"103,267",02 Feb 1996,https://m.media-amazon.com/images/M/MV5BMTM3Nz...,7.5
9,10,Richard III,22,1,1996,http://us.imdb.com/M/title/exact?Richard%20III...,0,0,0,0,...,R,104 min,The classic Shakespearean play about the murde...,"[{'Source': 'Internet Movie Database', 'Value'...","$2,684,904",86.0,"15,848",29 Dec 1995,https://m.media-amazon.com/images/M/MV5BMWZjOD...,7.3

In [19]:
items.shape

(1681, 38)

In [20]:
items.describe()

,id,day,month,year,unknown,Action,Adventure,Animation,Childrens,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,OMDb_imdbRating,OMDb_Metascore,OMDb_Rating
count,1681.000000,1681.000000,1681.000000,1681.00000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,...,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,0.0,961.000000,1607.000000
mean,841.841761,6.211779,2.669839,1989.38608,0.000595,0.149316,0.080309,0.024985,0.072576,0.300416,...,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062,NaN,63.047867,6.616304
std,485.638077,8.795650,3.014031,14.25358,0.024390,0.356506,0.271852,0.156126,0.259516,0.458576,...,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751,NaN,18.759881,1.047637
min,1.000000,1.000000,1.000000,1922.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,2.300000
25%,422.000000,1.000000,1.000000,1993.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,49.000000,6.000000
50%,842.000000,1.000000,1.000000,1995.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,63.000000,6.700000
75%,1262.000000,10.000000,3.000000,1996.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,77.000000,7.300000
max,1682.000000,31.000000,12.000000,1998.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,100.000000,9.300000

In [21]:
items.columns

Index(['id', 'title', 'day', 'month', 'year', 'IMDB_url', 'unknown', 'Action',
       'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-noir', 'Horror', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'OMDb_imdbRating',
       'OMDb_Year', 'OMDb_Genre', 'OMDb_Rated', 'OMDb_Runtime', 'OMDb_Plot',
       'OMDb_Ratings', 'OMDb_BoxOffice', 'OMDb_Metascore', 'OMDb_imdbVotes',
       'OMDb_Released', 'OMDb_Poster', 'OMDb_Rating'],
      dtype='object')

In [22]:
print(items.isna().sum())

id                    0
title                 0
day                   0
month                 0
year                  0
IMDB_url              2
unknown               0
Action                0
Adventure             0
Animation             0
Childrens             0
Comedy                0
Crime                 0
Documentary           0
Drama                 0
Fantasy               0
Film-noir             0
Horror                0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Thriller              0
War                   0
Western               0
OMDb_imdbRating    1681
OMDb_Year            66
OMDb_Genre           68
OMDb_Rated          157
OMDb_Runtime         75
OMDb_Plot            80
OMDb_Ratings         66
OMDb_BoxOffice      367
OMDb_Metascore      720
OMDb_imdbVotes       74
OMDb_Released        74
OMDb_Poster          81
OMDb_Rating          74
dtype: int64

In [23]:
items = items.drop(columns = ['day', 'month', 'year', 'IMDB_url', 'unknown', 'OMDb_Rating', 'OMDb_imdbRating', 'OMDb_Metascore', 'OMDb_Rated', 'OMDb_BoxOffice'])

In [24]:
print(items.isna().sum())

id                 0
title              0
Action             0
Adventure          0
Animation          0
Childrens          0
Comedy             0
Crime              0
Documentary        0
Drama              0
Fantasy            0
Film-noir          0
Horror             0
Musical            0
Mystery            0
Romance            0
Sci-Fi             0
Thriller           0
War                0
Western            0
OMDb_Year         66
OMDb_Genre        68
OMDb_Runtime      75
OMDb_Plot         80
OMDb_Ratings      66
OMDb_imdbVotes    74
OMDb_Released     74
OMDb_Poster       81
dtype: int64

In [25]:
items.dropna(inplace = True)

In [26]:
items.shape

(1585, 28)

In [27]:
import json
items['OMDb_Ratings'] = items['OMDb_Ratings'].str.replace("'", '"')
# Función para convertir las cadenas JSON en listas de diccionarios
def parse_ratings(ratings):
    if isinstance(ratings, str):  # Asegurar que sea una cadena
        try:
            return json.loads(ratings)  # Convertir la cadena JSON en objeto Python
        except json.JSONDecodeError:
            return []  # Devolver una lista vacía si la conversión falla
    return ratings

# Convertir la columna `OMDb_Ratings`
items['OMDb_Ratings'] = items['OMDb_Ratings'].apply(parse_ratings)

# Función para extraer valores
def extract_rating(source, ratings):
    for rating in ratings:
        if rating['Source'] == source:
            return rating['Value']
    return None  # Si no se encuentra el source

# Crear nuevas columnas a partir de los valores
items['IMDB_Score'] = items['OMDb_Ratings'].apply(lambda x: extract_rating('Internet Movie Database', x))
items['RottenTomatoes'] = items['OMDb_Ratings'].apply(lambda x: extract_rating('Rotten Tomatoes', x))
items['Metacritic'] = items['OMDb_Ratings'].apply(lambda x: extract_rating('Metacritic', x))

# Eliminar la columna original si no es necesaria
items = items.drop(columns=['OMDb_Ratings'])

In [28]:
# Filtrar filas donde la longitud de 'OMDb_Year' es mayor a 4, las filas con año de longitud mayor a 4 corresponden a series (ejemplo: 2012-2016). Filtramos para que la base de datos tengan solo peliculas
filtered_items = items[items['OMDb_Year'].str.len() > 4]
items = items.drop(filtered_items.index)

In [29]:
# Eliminar 'min' y convertir a número
items['OMDb_Runtime'] = items['OMDb_Runtime'].str.replace(' min', '').astype(int)
items['IMDB_Score'] = items['IMDB_Score'].str.replace('/10', '').astype(float)
items['OMDb_imdbVotes'] = items['OMDb_imdbVotes'].str.replace(',', '').astype(int)
items['OMDb_Year'] = items['OMDb_Year'].astype(int)

In [30]:
print(items.isna().sum())

id                  0
title               0
Action              0
Adventure           0
Animation           0
Childrens           0
Comedy              0
Crime               0
Documentary         0
Drama               0
Fantasy             0
Film-noir           0
Horror              0
Musical             0
Mystery             0
Romance             0
Sci-Fi              0
Thriller            0
War                 0
Western             0
OMDb_Year           0
OMDb_Genre          0
OMDb_Runtime        0
OMDb_Plot           0
OMDb_imdbVotes      0
OMDb_Released       0
OMDb_Poster         0
IMDB_Score          0
RottenTomatoes    158
Metacritic        604
dtype: int64

In [31]:
items = items.drop(columns = ['RottenTomatoes', 'Metacritic', 'OMDb_Genre', 'OMDb_Released'])

In [32]:
items = items.drop_duplicates(subset=['title'])

In [33]:
items.shape

(1541, 26)

In [34]:
items.head(10)

,id,title,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,...,Sci-Fi,Thriller,War,Western,OMDb_Year,OMDb_Runtime,OMDb_Plot,OMDb_imdbVotes,OMDb_Poster,IMDB_Score
0,1,Toy Story,0,0,1,1,1,0,0,0,...,0,0,0,0,1995,81,A cowboy doll is profoundly threatened and jea...,1102860,https://m.media-amazon.com/images/M/MV5BZTA3OW...,8.3
1,2,GoldenEye,1,1,0,0,0,0,0,0,...,0,1,0,0,1995,130,When a powerful secret defense system is stole...,275174,https://m.media-amazon.com/images/M/MV5BOGQxNm...,7.2
2,3,Four Rooms,0,0,0,0,0,0,0,0,...,0,1,0,0,1995,98,Four interlocking tales that take place in a f...,112683,https://m.media-amazon.com/images/M/MV5BMmNlMj...,6.7
3,4,Get Shorty,1,0,0,0,1,0,0,1,...,0,0,0,0,1995,105,A mobster travels to Hollywood to collect a de...,91605,https://m.media-amazon.com/images/M/MV5BMjAwOD...,6.9
4,5,Copycat,0,0,0,0,0,1,0,1,...,0,1,0,0,1995,123,A criminal psychologist who turned agoraphobic...,68112,https://m.media-amazon.com/images/M/MV5BY2ZiOD...,6.6
5,6,Shanghai Triad,0,0,0,0,0,0,0,1,...,0,0,0,0,1995,108,A provincial boy related to a Shanghai crime f...,6117,https://m.media-amazon.com/images/M/MV5BMjExNz...,7.1
6,7,Twelve Monkeys,0,0,0,0,0,0,0,1,...,1,0,0,0,1996,88,A documentary following Terry Gilliam through ...,996,https://m.media-amazon.com/images/M/MV5BZTAxNz...,7.6
7,8,Babe,0,0,0,1,1,0,0,1,...,0,0,0,0,1995,91,Gentle farmer Arthur Hoggett wins a piglet Bab...,137298,https://m.media-amazon.com/images/M/MV5BODYxZW...,6.9
8,9,Dead Man Walking,0,0,0,0,0,0,0,1,...,0,0,0,0,1995,122,"A nun, while comforting a convicted killer on ...",103267,https://m.media-amazon.com/images/M/MV5BMTM3Nz...,7.5
9,10,Richard III,0,0,0,0,0,0,0,1,...,0,0,1,0,1995,104,The classic Shakespearean play about the murde...,15848,https://m.media-amazon.com/images/M/MV5BMWZjOD...,7.3

In [35]:
items.to_csv('items_enriched_final.csv')